{% extends 'base.html'%}

{% block content %}

{% for entry in entries.object_list %}
  <section class="entry">
      <h2 class="permalink"><a href="{% url entry_view slug=entry.slug %}">{{entry.title}}</a></h2>
      <div class="meta muted">
        {% if entry.published_at %}
            <span class="published-at">Published <time>{{entry.published_at}}</time></span>
        {% else %}
            <span class="published-at"><strong>Not Published (created <time>{{entry.created_at}}</time>)</strong></span>
        {% endif %}
        {% if entry.is_updated %}
          <span class="updated-at">Last update: <time>{{entry.updated_at}}</time></span>
        {% endif %}
      </div>
      {# let me use HTML, I promise I'll behave ;) #}
      {{ entry.content|safe|truncatewords_html:40 }}
      <p><a href="{% url entry_view slug=entry.slug %}">Read more</a></p>
      <div class="tags">
        <strong>Tags:</strong>
        {% for tag in entry.tags %}
          <a href="{% url tag_index tag=tag %}">{{tag}}</a><!--
          -->{% if not forloop.last %}, {% endif %}
        {% endfor %}
      </div>
  </section>
{% empty %}

<p>No blog posts at this time!</p>

{% endfor %}

  <ul class="pager">
      <li class="previous {% if not entries.has_previous %}disabled{% endif %}">
        <a href="?page={{ entries.previous_page_number}}">&larr; Newer</a>
      </li>
    
      <li class="next {% if not entries.has_next %}disabled{% endif %}">
        <a href="?page={{ entries.next_page_number}}">Older &rarr;</a>
      </li>
  </ul>

{% endblock %}
