{% extends 'base.html'%}

{% block content %}

{% for entry in entries.object_list %}
  <h2>{{entry.title}}</h2>
  <div class="meta">
    <span class="created-at">Published {{entry.published_at}}</span>
    {% if entry.is_updated %}
      <span class="updated-at">Last update: {{entry.updated_at}}</span>
    {% endif %}
  </div>
  <p>{{entry.content}}</p>
  <ul class="tags">
    {% for tag in entry.tags %}
      <li>{{tag}}</li>
    {% endfor %}
  </ul>
{% endfor %}

  <ul class="pager">
      <li class="previous {% if not entries.has_previous %}disabled{% endif %}">
        <a href="?page={{ entries.previous_page_number}}">&larr; Newer</a>
      </li>
    
      <li class="next {% if not entries.has_next %}disabled{% endif %}">
        <a href="?page={{ entries.next_page_number}}">Older &rarr;</a>
      </li>
  </ul>

{% endblock %}
