{% extends 'base.html'%}

{% block content %}

{% for entry in entries.object_list %}
  <h2>{{entry.title}}</h2>
  <div class="meta">
    <span class="created-at">Published {{entry.published_at}}</span>
    {% if entry.is_updated %}
      <span class="updated-at">Last update: {{entry.updated_at}}</span>
    {% endif %}
  </div>
  <p>{{entry.content}}</p>
  <ul class="tags">
    {% for tag in entry.tags %}
      <li>{{tag}}</li>
    {% endfor %}
  </ul>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if entries.has_previous %}
            <a href="?page={{ entries.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ entries.number }} of {{ entries.paginator.num_pages }}.
        </span>

        {% if entries.has_next %}
            <a href="?page={{ entries.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock %}
