{% extends 'base.html'%}

{% block content %}

      <h2>{{entry.title}}</h2>
      <div class="meta muted">
        {% if entry.published_at %}
            <span class="published-at">Published {{entry.published_at}}</span>
        {% else %}
            <span class="published-at"><strong>Not Published (created {{entry.created_at}})</strong></span>
        {% endif %}
        {% if entry.is_updated %}
          <span class="updated-at">Last update: {{entry.updated_at}}</span>
        {% endif %}
      </div>
      {# let me use HTML, I promise I'll behave ;) #}
      {{ entry.content|safe }}
      <div class="tags">
        {% for tag in entry.tags %}
          <a href="{% url tag_index tag=tag %}">{{tag}}</a><!--
          -->{% if not forloop.last %}, {% endif %}
        {% endfor %}
      </div>

{% endblock %}
