{% extends 'base.html'%}

{% block content %}

<h1>jblog</h1>
<p style="margin-top: 10px">jblog is a simple blog engine created by Julio Castillo using
  <a href="https://www.djangoproject.com/">Django</a>, <a href="https://developers.google.com/appengine/">Google
  AppEngine</a>, <a href="https://github.com/potatolondon/djappengine/">djappengine</a>. The
  source code is available at my <a href="https://github.com/juliocc/jblog">github</a>.  </p>

<p>No ponies were hurt in the making of this app.</p>

<div style="vertical-align: middle">
<img src="https://developers.google.com/appengine/images/appengine-silver-120x30.gif" alt="Powered by Google App Engine" />
<a href="http://www.djangoproject.com/"><img src="https://www.djangoproject.com/m/img/badges/djangosite100x25.gif" border="0" alt="A Django site." title="A Django site." /></a>
<img src="{{STATIC_URL}}img/badge.png" alt="Pony Powered" />
</div>

{% endblock %}
